/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(44, 39, 39);
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Styling */
.header {
    height: 95px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgb(255, 194, 136);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo-container {
    width: 150px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    font-size: 25px;
    letter-spacing: 1.2px;
    margin-left: 45px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgb(255, 194, 136);
}

a{
    text-decoration: none;
}

.nav {
    margin-right: 45px;
    word-spacing: 10px;
    font-size: 18px;
}

.nav li {
    list-style: none;
    display: inline;
    padding: 13px 20px;
}

.nav li:hover {
    background-color: #FF6701;
    border-radius: 17px;
    color: white;
}

.nav a {
    text-decoration: none;
}

.hero {
    background-image: url('../image/Sprinkle.svg');
    background-position: 0 -150px;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 55px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-right: 45px;
}

.hero-subtitle {
    text-align: center;
    font-size: 17px;
}

.btn {
    margin-top: 25px;
    font-size: 17px;
    background-color: #FFC288;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    padding: 15px 25px;
    text-decoration: none;
}

.btn:active {
    color: white;
}

.btn:hover {
    box-shadow: 0 0 10px 0 rgb(241, 135, 65);
    /* transform: scale(1.1); */
}

/* About */
.about {
    height: 85vh;
    display: flex;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1141%26quot%3b)' fill='none'%3e%3ccircle r='40.95' cx='1245.56' cy='480.43' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='40.575' cx='1314.04' cy='281.73' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='35.375' cx='220.7' cy='365.82' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='40.73' cx='656.95' cy='107.92' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='42.005' cx='608.04' cy='491.79' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='16.05' cx='662.05' cy='29.76' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='38.62' cx='1006.51' cy='76.85' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='30.525' cx='162.28' cy='510.68' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1141'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.about-content {
    flex: 1;
}

.text-wrapper {
    font-size: 17px;
    padding: 25px;
    text-align: justify;
}

.text-wrapper h2 {
    font-size: 35px;
}

.text-wrapper h2, .text-wrapper p {
    margin-bottom: 10px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.feature {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1141%26quot%3b)' fill='none'%3e%3ccircle r='40.95' cx='1245.56' cy='480.43' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='40.575' cx='1314.04' cy='281.73' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='35.375' cx='220.7' cy='365.82' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='40.73' cx='656.95' cy='107.92' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='42.005' cx='608.04' cy='491.79' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='16.05' cx='662.05' cy='29.76' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='38.62' cx='1006.51' cy='76.85' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3ccircle r='30.525' cx='162.28' cy='510.68' fill='rgba(255%2c 194%2c 136%2c 1)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1141'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    height: 85vh;
    text-align: center;
}

.text-feature {
    width: fit-content;
    margin: 0 auto;
    padding-top: 50px;
}

.text-feature h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

.box-container {
    margin: 25px 10%;
}

.box {
    flex: 1;
    flex-basis: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.text-box {
    text-align: justify;
    margin-left: 10px;
    flex: 4;
}

.box-ins {
    background-color: #FF6701;
    line-height: 100px;
    color: white;
    flex: 1;
    font-size: 30px;
}

.footer {
    margin-top: 125px;
    background-color: #FFC288;
    background-repeat: no-repeat;
}

.bio {
    width: fit-content;
    border: 1px solid #FF6701;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 0 #FF6701;
    background-color: #FCECDD;
}

.bio .img img {
    border: 1px solid #FF6701;
    border-radius: 100%;
    margin: 0 auto;
    height: 150px;
}

.bio-text {
    font-size: 14px;
    margin-left: 25px;
}

.wrap {
    margin: 10px 0;
}

.social {
    margin-left: 25px;
}

.gether-footer {
    width: 35%;
    padding: 20px;
}

.gether-footer p {
    margin-top: 15px;
}

/* Destkop */
@media (min-width: 769px) {
    .box-container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer {
        display: flex;
        justify-content: space-around;
    }

    .bio {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-feature p{
        margin: 0 25px;
        width: 55%;
        text-align: center;
        margin: 0 auto;
    }

    .hero-subtitle {
        width: 40%;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .nav {
        display: none;
    }
    /* Hero */
    .hero-title  {
        font-size: 30px;
    }

    .hero-subtitle {
        font-size: 11px;
        margin: 0 25px;
    }

    .btn {
        width: 200px;
        font-size: 15px;
    }

    /* Main Section */
    .text-wrapper h2 {
        font-size: 20px;
    }

    .text-wrapper {
        font-size: 11px;
    }

    /* Feature */
    .feature {
        margin-top: 35px;
    }
    .text-feature {
        padding: 25px;
    }
    .text-feature h2 {
        font-size: 25px;
    }

    .text-feature {
        font-size: 12px;
    }

    .box-container {
        margin-top: 0;
    }

    .box {
        margin-top: 25px;
    }

    .box-ins {
        font-size: 20px;
    }

    .text-box {
        margin-left: 15px;
    }

    .text-box h2{
        font-size: 17px;
    }

    .text-box p {
        font-size: 12px;
    }

    /* Footer */
    .footer{
        display: flex;
        flex-direction: column;
    }

    .gether-footer {
        width: 100%;
    }

    .gether-footer h3 {
        font-size: 17px;
    }

    .gether-footer p {
        font-size: 14px;
    }

    .gether-footer {
        order: 2;
    }

    .bio {
        order: 1;
        margin: 0 auto;
        margin-top: 25px;
        width: 80%;
        text-align: center;
    }

    .bio .img {
        width: fit-content;
        margin: 0 auto;
    }

    .bio-text {
        margin-left: 0;
    }

    .social {
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
        margin-left: 0;
    }

    .gether-footer {
        margin: 25px 0;
        text-align: center;
        font-size: 20px;
    }
}